asgiref==3.3.4
bcrypt==4.0.1
cffi==1.15.1
cryptography==41.0.1
Django==3.2.3
django-environ==0.10.0
mysqlclient==2.1.1
paramiko==3.2.0
Pillow==9.5.0
pycparser==2.21
PyNaCl==1.5.0
pytz==2021.1
sqlparse==0.4.1
sshtunnel==0.4.0
psycopg2-binary==2.9.7
dj-database-url==2.1.0
whitenoise==6.5.0
python-dotenv==1.0.0